{% extends "base.html" %}

{% block content %}
  <h1>{{ dish.name }}</h1>
  
  <p>{{ dish.dish_type.name }}</p>
  
  <h1>Cooks</h1>
  
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} {{ cook.first_name }} {{ cook.last_name }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-primary">
    Update
  </a>
{#  <a href="{% url 'restaurant:cooks-delete' pk=cook.id %}" class="btn btn-danger">#}
{#    Delete#}
{#  </a>#}
{% endblock %}