{% extends "base.html" %}

{% block content %}
  <h1>{{ dish.name }}</h1>
  
  <p><strong>Type: </strong>{{ dish.dish_type.name }}</p>
  
  <p>{{ dish.description }}</p>
  
  <h2>Can cook:</h2>
  <ul>
    {% for cook in dish.cooks.all %}
      <li>{{ cook.username }} {{ cook.first_name }} {{ cook.last_name }}</li>
      <br>
    {% endfor %}
  </ul>
  <a href="{% url 'restaurant:dish-update' pk=dish.id %}" class="btn btn-primary">
    Update
  </a>
  <a href="{% url 'restaurant:dish-delete' pk=dish.id %}" class="btn btn-danger">
    Delete
  </a>
{% endblock %}